#section-list {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  -webkit-box-shadow: 2px 5px 16px 0px SLATEGRAY,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px slategray, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  p {
    color: silver;
    font-weight: 200;
  }
  .col {
    padding: 1em;
    border: 2px solid GAINSBORO;
  }
  .list-title {
    width: 100%;
    background-color: WHITESMOKE;
    .brief__avatar {
      height: 2em;
      width: 2em;
      border-radius: 50%;
    }
    .more__icon {
      margin-left: auto;
      img {
        height: 2em;
        width: 2em;
      }
    }
    h3 {
      margin: 0 15px 15px;
    }
    .user_name {
      align-items: center;
    }
    .row {
      p {
        margin-top: 3px;
      }
    }
  }
  .list-body {
    div {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .list-body {
    flex-direction: column;
  }
  .col {
    min-width: 100%;
  }
}
