#header {
  display: flex;
  justify-content: center;
  padding: 2em;
  width: 100%;
  top: 0;
  background-color: #20232a;
  position: relative;
}
.search-bar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2em;
  min-width: 30%;
}
.search__input {
  font-size: inherit;
  display: flex;
  min-width: 100%;
  color: #424242;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  border: none;
  text-align: center;
  &:focus {
    border-radius: 0.5em;
    outline: none;
    box-shadow: 0 0 3pt 2pt #6d6d6d;
  }
}
.search__select {
  font-size: inherit;
  position: absolute;
  height: 100%;
  right: 0rem;
  border-radius: 0 0.5em 0.5em 0;
  border-top: none;
  border-bottom: none;
  background-color: white;
  color: #424242;
  &:focus {
    border-radius: 0 0.5em 0.5em 0;
    outline: none;
    box-shadow: 0 0 3pt 2pt #6d6d6d;
  }
}
.search__icon {
  position: absolute;
  left: 0.1rem;
  width: 2em;
  transform: scaleX(-1);
}
